<div id="wrapper" class="homepage">
 <div id="home-headlines" class="headlines fl">
		<div id="home-headlines-text">
			<header>
				<hgroup>
					<h2>The internet is a right, not a privilege-</h2>
					<h2 class="second-headline">Free mobile services for all!</h2>
				</hgroup>
			</header>
		</div><!-- #home-headlines-text//-->
	</div><!-- #home-headlines //-->
	
	<div id="main-container" class="fl">
		<div id="content" class="fl">
			<div id="thankyou-page">
				<h2>Thanks for signing up!</h2>
				<h3>We'll notify you when service is available in your area</h3>
			</div>
			<div class="fix"></div>
		</div><!-- #content //-->
	</div><!-- #main-container //-->
    </div> 
  
  
  
  
  
  
  
  
  
  
 
 