<div id="wrapper" class="homepage">
 <div id="home-headlines" class="headlines fl">
		<div id="home-headlines-text">
			<header>
				<hgroup>
					<h2>The internet is a right, not a privilege-</h2>
					<h2 class="second-headline">Free mobile services for all!</h2>
				</hgroup>
			</header>
		</div><!-- #home-headlines-text//-->
	</div><!-- #home-headlines //-->
	
	<div id="main-container" class="fl">
		<div id="content" class="fl">
			<div id="thankyou-page">
				{if $success_message}
      <h2>{$success_message}</h2>
  {/if}
			</div>
			<div class="fix"></div>
		</div><!-- #content //-->
	</div><!-- #main-container //-->
    </div> 






